@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;300&family=Oswald:wght@200;300&family=Rubik:ital,wght@1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

  html,
  body,
  #root,
  .app {
    height: 100%;
    width: 100%;
  font-family: "DM Sans" ,sans-serif;
@apply text-gray-500;
}